services:
  # Our PostgreSQL database
  db:
    #using the lastest postgreSQL image
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: 123

      # Database management interface
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8080:8080
